<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-center>
      <button ion-button color="secondary" round (click)="openModal()">upload Order</button>
    </ion-item>
    <ion-item>
        <img [src]="base64Image" *ngIf="base64Image" width="150" height="150"/>
        <img src="/assets/images/there-they-are.jpg" width="150" height="150" imageViewer="/assets/images/there-they-are.jpg"/>
    </ion-item>
  </ion-list>
  <!-- <ion-grid radio-group [(ngModel)]="orderType">
    <ion-row>
     <ion-col text-center>
          <div text-center>Are you ordering for yourself ?.</div>
     </ion-col>
    </ion-row>
    <ion-row>
     <ion-col>

            <ion-label>Yes</ion-label>
            <ion-radio value="Y"></ion-radio>

     </ion-col>
     <ion-col >

            <ion-label>No</ion-label>
            <ion-radio value="N"></ion-radio>

     </ion-col>
    </ion-row>
</ion-grid> -->
<div text-center>please select store you like</div>
<ion-grid class="selectGrid">
  <ion-row *ngFor="let store of stores" radio-group [(ngModel)]="orderType">
   <ion-col col-2 text-right>
     <!-- <label class = "checkbox">
       <input type = "checkbox">
     </label> -->
     <ion-radio class="iRadio" value="{{store.name}}"></ion-radio>
   </ion-col>
   <ion-col col-10 text-left>
     <div> Sri Lakshmi Kirana Stroe <br > Langer House </div>
   </ion-col>
  </ion-row>
</ion-grid>
<button ion-button round (click)="placeOrder()">Continue</button>
</ion-content>
